<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Spring Boot WebSocket</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body>
  <div style="color: blue; text-align: center">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <div class="container" style="width: 400px; margin-top: 20px;">
    <form class="form-inline" style="margin-top: 20px;">
      <div class="form-group">
        <label for="name">query:</label>
        <p-autoComplete name="name" [(ngModel)]="name" [suggestions]="filteredSuggest" (completeMethod)="filterResults($event)"
          field="name" [minLength]="3">

        </p-autoComplete>
        <br>
      </div>
      <button id="send" class="btn btn-success" type="button" (click)="sendMsg()">Send</button>
    </form>

    <table id="conversation" class="table table-striped" style="margin-top: 20px;">
      <thead>
        <tr>
          <th>Socket Response</th>
        </tr>
      </thead>
      <tbody *ngFor="let result of results">
        <tr>
          <td>{{result}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</body>

</html>